<!doctype html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Quiz</title>
<link rel="stylesheet" href="/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="/jquery.ba-throttle-debounce.min.js"></script>
</head>

<body>
<div id="container">
<header></header>

<div id="main" role="main">
<%- body %>
</div>

<footer></footer>
</div>
</body>

</html>
